Package: com.adamyeti.HoneyBadger
Name: Honey Badger Respring Logo
Depends:
Version: 0.1-alpha
Architecture: iphoneos-arm
Description: A respring logo with a "Honey Badger Don't Care" logo.
Maintainer: adamyeti <theadamyeti@gmail.com>
Author: adamyeti <theadamyeti@gmail.com>
Section: Themes (System)
