Package: com.adamyeti.AndroidRespringLogo1
Name: Android Respring Logo
Depends:
Version: 0.2-alpha
Architecture: iphoneos-arm
Description: A respring logo featuring the Android text logo
Maintainer: adamyeti <adamyeti@gmail.com>
Author: adamyeti <adamyeti@gmail.com>
Section: Themes (System)
